doctype html
html
head
  meta(charset="utf-8")
  title
    Simple Brunch Demo
  link(rel="stylesheet" href="app.css")
  script(src="vendor.js").
  script(src="app.js").
body
  h1
    Brunch
    small
      A simple demo
  p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  script
    require('application').init();
